@import "tailwindcss";


:root {
  --background: #f6f6f8;
  --foreground: #171717;
  --primary: #135bec;
  --background-dark: #101622;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-dark: var(--background-dark);
  --font-display: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
